<h1>Editar Marca</h1>

<%= render 'form', marca: @marca, :class => "btn btn-success" %>

<%= link_to 'Mostrar', @marca, :class => "btn btn-success" %> |
<%= link_to 'Atras', marcas_path, :class => "btn btn-info" %>
